@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:          #fefefe;
    --foreground:          #4b4b4b;

    --card:                #FFFFFF;
    --card-foreground:     #2A2A2A;

    --popover:             #FFFFFF;
    --popover-foreground:  #2A2A2A;

    --primary:             #fc4700;
    --primary-foreground:  #FFFFFF;

    --secondary:           #FFD700;
    --secondary-foreground: #2A2A2A;

    --muted:               #FFEEDD;
    --muted-foreground:    #6D6D6D;

    --accent:              #ff2e63;
    --accent-foreground:   #FFFFFF;

    --destructive:         #E63946;
    --destructive-foreground: #FFFFFF;

    --border:             #FFD4B8;
    --input:             #FFD4B8;
    --ring:              #e34203;

    --chart-1: #e34203;
    --chart-2: #fc4c78;
    --chart-3: #ff7b9c;
    --chart-4: #a162ff;
    --chart-5: rgb(180, 131, 255);

    --radius: 0.7rem;
  }

  .dark {
    --background:          #1A1A1A;
    --foreground:          #FFF0E5;

    --card:                #2A2A2A;
    --card-foreground:     #FFF0E5;

    --popover:             #2A2A2A;
    --popover-foreground:  #FFF0E5;

    --muted:               #3D3D3D;
    --muted-foreground:    #D9D9D9;

    --border:             #3D3D3D;
    --input:             #3D3D3D;
    --ring:              #FF7B4D;
  }
}

@layer base {
  * { 
    @apply border-border; 
  }
  body { 
    @apply bg-background text-foreground;
      font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
      font-display: swap; 
  }
  h1,h2,
  h3,h4,
  h5,h6 { 
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-display: swap;
    margin: 0 !important;
    line-height: 1.1 !important;
  }
  p {
    font-size: 14px;
    line-height: 1.4 !important;
  }
}

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0; 
  padding: 0; 
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0.7; }
  to { opacity: 1; }
}

.bg_gradient_white{
  background: linear-gradient(to right, #ffffff, transparent 20% 80%, #ffffff )
}
.animate-fade-in {
  animation: fadeIn 0.65s ease-out;
}

/* QR Reader */

#reader__dashboard_section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

#reader button{
    color: rgb(71, 67, 66);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.1;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(71, 67, 66, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#reader span {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.1;
  color: var(--primary)
}

#reader button, #reader__dashboard_section_swaplink {
    background-color: #FFD4B8;
}

#reader__dashboard_section_swaplink  {
    background-color: #61C0BF !important;
    text-decoration: none !important;
}

#reader button:hover,
#reader__dashboard_section_swaplink:hover {
    background-color: #d7bcaa;
    color: #ffffff;
    transform: scale(1.01);
}

#reader > img {
    display: none;
}

#reader__scan_region img {
    margin: auto;
    margin-bottom: 50px;
    width: 150px;
    opacity: 0.3 !important;
}

/* Clerk components */

.cl-internal-1dauvpw,
.cl-internal-13u79ez {
    display: none;
}

.cl-dividerLine {
  background-color: rgba(250, 250, 250, 0.5) !important;
}

.cl-internal-2iusy0 {
  font-weight: bold;
  font-size: 16px;
}

.cl-card {
  border-radius: 0;
}

.cl-formButtonPrimary {
  background-image: linear-gradient(to right, #FF5E1F, #FF2E63, #FFD700);
  color: white;
  transition: all 0.3s ease;
}

.cl-socialButtonsIconButton {
  border: 1px solid white !important;
  height: 40px !important;
  transition: all 0.3s ease !important;
  box-shadow: none !important;
}
.cl-socialButtonsIconButton:hover {
  background-color: #fff9f586;
  transform: scale(1.07);
}

#identifier-field{
  box-shadow: none;
  border: 1px solid white !important;
  height: 40px;
}

.cl-formButtonPrimary:hover {
  background-image: linear-gradient(to right, #FF2E63,  #FFD700, #FF5E1F); 
  transform: scale(1.02);
  color: black;
}

.cl-internal-6wf04v[data-variant="solid"][data-color="primary"] {
    box-shadow: rgb(255, 255, 255, 0) 0px 0px 0px 1px, rgba(255, 255, 255, 0) 0px 0px 0px 0px inset, rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
}
.cl-dividerText{
  color: white !important;
  font-size: 16px;
}

@media (max-width: 978px) {
  .background-hero{
    background: none;
  }  
}

.bg_elipse:before, .bg_elipse:after{
  content: '';
  position: absolute;
  top: -100px;
  width: 1000px;
  aspect-ratio: 1;
  z-index: -1;
}

.bg_elipse:before {
  right: 100px;
  background: radial-gradient(circle, #a162ff61, transparent, transparent);
}

.bg_elipse:after {
  left: 100px;
  background: radial-gradient(circle, #ff480061, transparent, transparent);
}

.bg_lines, .bg_lines2, .bg_lines3, .bg_lines4, 
.bg_lines5, .bg_lines6, .bg_lines7
{
  position:absolute;
  translate: -25% ;
  z-index: -1;
}

.bg_lines:before, .bg_lines:after,
.bg_lines2:before, .bg_lines2:after,
.bg_lines3:before, .bg_lines3:after,
.bg_lines4:before, .bg_lines4:after,
.bg_lines5:before, .bg_lines5:after,
.bg_lines6:before, .bg_lines6:after,
.bg_lines7:before, .bg_lines7:after {
  content: '';
  position: absolute;
  border: 1px solid #a162ff46;
  border-radius: 100%;
}

.bg_lines:before, .bg_lines:after {
  width: 2100px;
  height: 2100px;
  right: -1050px;
}

.bg_lines:before{
  top: 300px;
}

.bg_lines:after{
  top: -1900px;
}

.bg_lines2:before, .bg_lines2:after {
  width: 2500px;
  height: 2500px;
  right: -1250px; 
}

.bg_lines2:before{
  top: 285px;
}

.bg_lines2:after{
  top: -2285px;
}

.bg_lines3:before, .bg_lines3:after {
  width: 3000px;
  height: 3000px;
  right: -1500px;
}

.bg_lines3:before{
  top: 275px;
}

.bg_lines3:after{
  top: -2775px;
}

.bg_lines4:before, .bg_lines4:after {
  width: 3500px;
  height: 3500px;
  right: -1750px;
}

.bg_lines4:before{
  top: 265px;
}

.bg_lines4:after{
  top: -3260px;
}

.bg_lines5:before, .bg_lines5:after {
  width: 4000px;
  height: 3400px;
  right: -2005px;
}

.bg_lines5:before{
  top: 255px;
}

.bg_lines5:after{
  top: -3150px;
}

.bg_lines6:before, .bg_lines6:after {
  width: 4000px;
  height: 2000px;
  right: -2005px;
}

.bg_lines6:before{
  top: 255px;
}

.bg_lines6:after{
  top: -1745px;
}

.bg_lines7:before, .bg_lines7:after {
  width: 4000px;
  height: 900px;
  right: -2005px;
}

.bg_lines7:before{
  top: 250px;
}

.bg_lines7:after{
  top: -640px;
}
